
body {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;}

	body {
		background: white;
	}

    .not_logo {
    width: 65vw;
    }

	.image {
		border: 0;
		border-radius: 4px;
		display: inline-block;
		position: relative;
		background-color: #252A34;
		width: 30vw;
		min-width: 300px;
		max-width: 500px;
	}

	.onload-image-fade-in .image img {
		transition: opacity 0.5s ease-in-out;
	}

	body.is-preload .onload-image-fade-in .image img {
		opacity: 0;
	}

	.logo {
		display: flex;
		position: relative;
		overflow-x: hidden;
        min-height: 100vh;
	}
			.logo .image img {
				-moz-object-fit: cover;
				-webkit-object-fit: cover;
				-ms-object-fit: cover;
				object-fit: cover;
				display: block;
				position: absolute;
				top: 20vh;
				left: 0;
				width: 100%;
				height: auto;
				border-radius: 0;
			}